<body>
    <h1>add design</h1>
    <form id="addDesign">
      <label for="title"> Title</label>
      <input type="text" placeholder="Title" name="title" />
      <br />
      <label for="description"> Description</label>
      <input type="text" placeholder="description" name="description" />
      <br />
      <label for="category"> Category</label>
      <input type="text" placeholder="category" name="category" />
      <br />
      <label for="code"> Code</label>
      <input type="text" placeholder="code" name="code" />
      <br />
      <label for="price"> Price</label>
      <input type="number" placeholder="price" name="price" />
      <br />
      <label for="stock"> Stock</label>
      <input type="number" placeholder="stock" name="stock" />
      <br />
      <h2>shops</h2>
      <p>este es un espacio para desarrollo futuro, no afecta si no lo agregas</p>
        <div id="shops">
          <input type="button" value="Add Shop" onclick="addShop()">
        </div>
      
      <h2>photos</h2>
      <div id="photos">
<input type="file" name="image" id="image">
      </div>
      <input type='submit'>
    </form>
    <script src="/js/addDesign.js"></script>
  </body>
</html>