<body>
    <h1>delete design</h1>
    <form action="">
        <label for="designId">Design Id</label>
        <input type="text" name="designId">
        <input type="submit">
    </form>
    <script src="/js/deletedes.js"></script>
</body>